/* File Name: logintemplate\static\style.css */
/* Version: 1.2 */
/* Last Updated: 27-Nov-2024 */
/* Description: CSS file for styling the web pages. */

.banner {
    background-color: #88bbbe;
    padding: 1rem;
    text-align: center;
}

.sidebar {
    background-color: #88bbbe;
    color: #333;
    width: 200px;
    transition: width 0.3s;
    position: relative;
}

.collapsed-sidebar {
    width: 5px;
    overflow: hidden;
}

.collapse-tab {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    background-color: #88bbbe;
    color: #333;
    padding: 5px;
    width: 5px;
    text-align: center;
    border-radius: 3px;
}

.collapsed-tab {
    right: 0;
}

.body {
    background-color: #f3f4f7;
    color: #4a536e;
}