<!-- File Name: logintemplate\templates\index.html -->
<!-- Version: 1.0 -->
<!-- Last Updated: 25-Nov-2024 -->
<!-- Description: Main landing page template. -->

{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Login Template</h1>
    <p class="lead">This is a simple template for user registration and login.</p>
    <hr class="my-4">
    <p>Click the button below to log in or register.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
    <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
</div>
{% endblock %}