<!-- File Name: logintemplate\templates\layout.html -->
<!-- Version: 1.8 -->
<!-- Last Updated: 16-Feb-2024 -->
<!-- Description: Base template for all other pages in the application. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}My Application{% endblock %}</title>
</head>
<body>
    <div class="banner">
            <h1><a href="/" class="text-dark">Login Template</a></h1>
            <h4>A Login Utility</h4>
    <!-- 
        <div class="d-flex align-items-center">
            <span class="mr-2">Guest</span>
            <img src="{{ url_for('static', filename='images/person_icon.svg') }}" alt="User Icon" class="rounded-circle" style="width: 40px; height: 40px;" data-toggle="dropdown">
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/register">Register</a>
                <a class="dropdown-item" href="/settings">Settings</a>
            </div>
        </div>
    -->
    </div>
    <div class="sidepanel">
            <button id="toggleBtn" onclick="toggleSidepanel()">X</button>
            <ul>
              <li class="nav-item">
                <a class="nav-link active" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload_csv">CSV Upload</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
    </div>          
    <div class="body-content">
                {% block content %}
                <!-- Page-specific content will be injected here -->
                {% endblock %}
    </div> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleSidepanel() {
          const sidepanel = document.querySelector('.sidepanel');
          const bodyContent = document.querySelector('.body-content');
          const toggleBtn = document.getElementById('toggleBtn');
    
          sidepanel.classList.toggle('sidepanel-collapsed');
          bodyContent.classList.toggle('body-content-collapsed');
    
          toggleBtn.textContent = sidepanel.classList.contains('sidepanel-collapsed') ? '☰' : 'X';
        }
    </script>
</body>
</html>